@model BrtfProject.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Booking Approved</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.AreaName)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.Rooms.ToList()[0].name)

            @*@Html.DisplayFor(model => model.Room.name)*@
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpecialNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpecialNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartdateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartdateTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>



     

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

