@model BrtfProject.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete @Model.FullName?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TermLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TermLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProgramTerm.ProgramCode)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Term)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Term.ID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserGroup.UserGroupName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
