@model BrtfProject.Models.User

@{
    ViewData["Title"] = "User Account";
}

<h2>Account for: @Model.FullName</h2>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StudentID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramTerm.ProgramInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramTerm.ProgramInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserGroup.UserGroupName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserGroup.UserGroupName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purge)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purge)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit User Account</a>
</div>
