@model IEnumerable<BrtfProject.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Booking Report Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartdateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.RepeatedBooking)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.RoomID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StartdateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>

           
            <td>
                @Html.DisplayFor(modelItem => item.RepeatedBooking)
            </td>

        </tr>
        }
    </tbody>
</table>
