@model IEnumerable<BrtfProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>Admin User Index</h2>

<p>
    <a asp-area="Identity" asp-page="/Account/Register">Register New User</a>
</p>
<div class="card mb-sm-3">
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Upload Data
        </button>
        <div class="collapse @(ViewData["Upload"])" id="collapseFilter">
            <h4 class="card-header" id="UserImport">Import Users</h4>
            <div class="card-body">
                <br />
                <form asp-action="InsertFromExcel" asp-controller="UserIdentity" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">Upload Excel File:</label>
                        <input type="file" class="" name="theExcel" /><br />
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Upload Data" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.StudentID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FullName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProgramTerm.ProgramInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Purge)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProgramTerm.ProgramInfo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Purge)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
