@model IEnumerable<BrtfProject.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h2>View User Information</h2>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Create">Register New User</a>
</p>
<div class="card mb-sm-3">
    <div class="form-horizontal">
        <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" id="filterToggle" data-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter">
            Upload Data
        </button>
        <div class="collapse @(ViewData["Upload"])" id="collapseFilter">
            <h4 class="card-header" id="UserImport">Import Users</h4>
            <div class="card-body">
                <br />
                <form asp-action="InsertFromExcel" asp-controller="UserIdentity" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">Upload Excel File:</label>
                        <input type="file" class="" name="theExcel" /><br />
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="submit" value="Upload Data" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a asp-action="DownloadTemplate" class="btn btn-info float-right">Download Template for Data</a>
    </div>
</div>
<form>
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <table class="table">
        <thead>
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Student ID" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Full Name" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" name="actionButton" value="Program Term" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Email" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" disabled="disabled" name="actionButton" value="Purge" class="btn btn-link" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StudentID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProgramTerm.ProgramInfo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Purge)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>